{% macro create(comment, collapse=None, highlight_cid=None) -%}
    <div class="thing comment">
        <div class="entry unvoted">
            <div class="collapsed" style="display: none">
                <a href="#" class="expand">[+]</a>
                <a href="http://www.reddit.com/user/{{ comment.author }}" target="_blank" class="author gray">{{ comment.author }}</a>
                <span class="score unvoted">{{ comment.ups - comment.downs }} points</span>
                <span data-livestamp="{{ comment.created_utc.isoformat() }}-00:00"></span> &nbsp;
                <a href="#" class="expand">({{ comment.replies|length }} {% if (comment.replies|length) == 1 %}child{% else %}children{% endif %})</a>
            </div>
            <div class="noncollapsed usertext {% if comment.id == highlight_cid %}border{% endif %}" style="display: block">
                <p class="tagline">
                    <a href="#" class="expand">[–]</a>
                    <a href="http://www.reddit.com/user/{{ comment.author }}" target="_blank" class="author">{{ comment.author }}</a>
                    <span class="score unvoted">{{ comment.ups - comment.downs }} points</span>
                    <span data-livestamp="{{ comment.created_utc.isoformat() }}-00:00"></span>
                </p>

                <div class="usertext-body">
                    {{ comment.body_html|safe }}
                </div>

                <ul class="flat-list buttons">
                    <li class="first">
                        <a href="{{ comment.permalink }}" target="_blank" class="bylink" rel="nofollow">permalink</a>
                    </li>
                </ul>
            </div>
        </div>
        {% with collapse = comment.id == highlight_cid %}
            {% if collapse %}
                <div class="child-expander">
                    <hr/>
                    <div class="wrapper">
                        <a href="#">more comments</a>
                    </div>
                </div>
            {% endif %}
            <div class="child {% if collapse %}expander-collapsed{% endif %}" style="display: {% if collapse %}none{% else %}block{% endif %}">
                <div class="sitetable listing">
                    {% for child in comment.replies %}
                        {{ create(child, collapse=False, highlight_cid=highlight_cid) }}
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
    </div>
{%- endmacro  %}