.md {
    max-width: 60em;
    overflow: auto;
    font-size: small;
}

.md>* {
    margin-bottom: 0;
}

    .md pre {
        margin: 10px 10px 10px 0;
        border-left: 1px solid #fff;
        padding-left: 10px;
    }

    .md p, .md h1 {
        margin: 5px 0;
    }

    .md blockquote, .help blockquote {
        border-left: 2px solid #369;
        padding-left: 4px;
        margin: 5px;
        margin-right: 15px;
    }

code:hover, .md pre:hover {
    border-color: #ccc;
}

.tagline {
    color: #888;
    font-size: x-small;
}

    .tagline a {
        color: #369;
        text-decoration: none;
    }

    .tagline a:hover {
        text-decoration: underline;
    }

.flat-list {
    list-style-type: none;
    display: inline;
}

    .flat-list li, .flat-list form {
        display: inline;
        white-space: nowrap;
    }

.entry {
    overflow: hidden;
    margin-left: 3px;
    opacity: 1;
}

    .entry .buttons li {
        display: inline-block;
        border: none;
        padding-right: 4px;
        line-height: 1.6em;
    }

    .entry .buttons li a {
        color: #888;
        font-weight: bold;
        padding: 0 1px;
    }

    .entry .buttons a:hover {
        text-decoration: underline;
    }

.link {
    margin: 0;
    padding-left: 3px;
}

    .link .title {
        font-size: medium;
        font-weight: normal;
        margin-bottom: 1px;
    }

    .link .score {
        margin-top: 16px;

        text-align: center;
        color: #c6c6c6;
    }

    .link .midcol {
        height: 48px;

        font-weight: bold;
        font-size: small;
    }

    .link .usertext .md {
        padding: 0 5px;
        background-color: #fafafa;
        border: 1px solid #369;
        border-radius: 7px;
    }

.midcol {
    float: left;
    margin-right: 10px;
    background: transparent;
    overflow: hidden;
}

.thing .title {
    color: blue;
    outline: none;
    margin-right: .4em;
    padding: 0px;
    overflow: hidden;
}

.expando {
    clear: left;
    margin: 5px 0 5px 0;
}

.expando-button {
    float: left;
    height: 23px;
    width: 23px;
    margin: 2px 5px 2px 0;
    background: #ffffff none no-repeat scroll center center;
}

.expando-button.selftext.collapsed {
    background: url('/static/images/selftext_expando_open.png') no-repeat;
}

.expando-button.selftext.collapsed:hover {
    background: url('/static/images/selftext_expando_open_hover.png') no-repeat;
}

.expando-button.selftext.expanded {
    background: url('/static/images/selftext_expando_close.png') no-repeat;
}

.expando-button.selftext.expanded:hover {
    background: url('/static/images/selftext_expando_close_hover.png') no-repeat;
}