{% import 'partials/link.html' as par_link %}
{% import 'partials/comment.html' as par_comment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        {% assets "css_cl" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}
    </head>

    <body>
        {{ par_link.create(link, expanded=False) }}

        <hr class="separator" />

        <div class="commentarea">
            {{ par_comment.create(comment, link, highlight_cid=highlight_cid) }}
        </div>

        {% assets "js_lib" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "js_cl" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>