{% import 'partials/link.html' as par_link %}
{% import 'partials/comment.html' as par_comment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" href="/static/css/global.css"/>
        <link rel="stylesheet" href="/static/css/link.css"/>
        <link rel="stylesheet" href="/static/css/comment.css"/>
    </head>

    <body>
        {{ par_link.create(link, expanded=False) }}

        <hr class="separator" />

        <div class="commentarea">
            {{ par_comment.create(comment) }}
        </div>

        <script type="text/javascript" src="/static/lib/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/static/js/link.js"></script>
        <script type="text/javascript" src="/static/js/comment.js"></script>
    </body>
</html>