{% import 'partials/link.html' as par_link %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        {% assets "css_l" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}
    </head>

    <body>
        {{ par_link.create(link) }}

        {% assets "js_lib" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "js_l" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>