{% import 'partials/link.html' as par_link %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" href="/static/css/global.css"/>
        <link rel="stylesheet" href="/static/css/link.css"/>
    </head>

    <body>
        {{ par_link.create(link) }}

        <script type="text/javascript" src="/static/lib/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/static/lib/moment.min.js"></script>
        <script type="text/javascript" src="/static/lib/livestamp.min.js"></script>

        <script type="text/javascript" src="/static/js/link.js"></script>
    </body>
</html>